* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

button {
    background-color: deepskyblue;
    flex: 0 0 auto;
}

.container{
    height: 100%;
    background-color: coral;
    display: flex;
    flex-direction: column;
}

.container > div {
    background-color: aqua;
    display: flex;
}

div > div {
    border: 1px solid black;
    background-color: lightsalmon;
    flex: 1 0 2px;
}

.hover{
    background-color: black;
}